:root {
  --default-font: monospace;
  --text-green: #006000;
}

.display-containers {
  max-width: 700px;
  margin: 2em auto;
  box-shadow: 12px 8px #333333;
  border: 2px solid white;
  outline: 2px solid white;
  outline-offset: 2px;
  padding: 36px;
}

.curve-blue {
  background: #3465a4;
}

.curve-gray {
  background: silver;
}

.connection-pane {
  padding: 18px 36px 18px 36px;
  color: white;
  font-family: System, monospace;
  font-size: 10pt;
}

.connect-wallet-btn {
  border: none;
  background: green;
  color: white;
  font-family: System, monospace;
  font-weight: bold;
  padding: 4px 12px 4px 12px;
  box-shadow: 4px 6px #333333;
}

.title {
  text-align: center;
}

#swap-container {
  inset: 2% 5%;
  background: blueviolet;
}

.boxed-header {
  height: 280px;
  border: 2px solid black;
}

.header-perimeter {
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  margin-left: 32%;
  margin-right: 32%;
  background: silver;
  font-family: monospace;
  font-size: 1em;
  -webkit-line-clamp: 1;
}

#swap-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 8px 0 24px 0px;
}

#from-amount,
#to-amount {
  max-height: 30px;
}

#from-currency-container {
  position: relative;
  display: inline-block;
}

.currency-drop-down-btn {
  border: 4px thin black;
  cursor: pointer;
  background: none;
}

.options {
  list-style-type: none;
  display: none;
  padding-inline-start: 0px;
}

.show {
  display: block;
  overflow: scroll;
  max-height: 210px;
  margin-block-start: 0px;
}

ul.options {
  border: 1px solid blue;
  display: none;
  list-style: none;
  padding: 4px;
  margin-top: -4px;
}

ul.show {
  display: block;
}

ul.options li:active,
ul.options li:focus,
ul.options li:hover,
ul.options li[aria-selected="true"] {
  background: blue;
  cursor: pointer;
  color: white;
}

#max-span-container {
  font-family: monospace;
  text-align: center;
  margin-top: 16px;
}

.animated-pipe {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  transform: rotate(0deg);
  animation-name: rotate-pipe;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes rotate-pipe {
  from {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#trade-route-container {
  font-family: monospace;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#trade-route-container > span {
  position: relative;
  margin-right: 12px;
}

#span-trade-route {
  color: var(--text-green);
  font-weight: bold;
}

#advanced-option-container {
  display: flex;
  margin: 16px 0 0 16px;
}

.space-left {
  margin-left: 8px;
}

.rotate-90 {
  transform: rotate(90deg);
}
