.display-containers {
  max-width: 700px;
  margin: 2em auto;
  box-shadow: 12px 8px #333333;
  border: 2px solid white;
  outline: 2px solid white;
  outline-offset: 2px;
  padding: 36px;
}

.curve-blue {
  background: #3465a4;
}

.curve-gray {
  background: silver;
}

.connection-pane {
  padding: 18px 36px 18px 36px;
  color: white;
  font-family: System, monospace;
  font-size: 10pt;
}

.connect-wallet-btn {
  border: none;
  background: green;
  color: white;
  font-family: System, monospace;
  font-weight: bold;
  padding: 4px 12px 4px 12px;
  box-shadow: 4px 6px #333333;
}

.title {
  text-align: center;
}

#swap-container {
  inset: 2% 5%;
  background: blueviolet;
}

.boxed-header {
  height: 280px;
  border: 2px solid black;
}

.header-perimeter {
  position: absolute;
  top: -32px;
  left: 0;
  right: 0;
  margin-left: 35%;
  margin-right: 35%;
  background: silver;
  font-family: ui-monospace;
  -webkit-line-clamp: 1;
}

#swap-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 24px 0 24px 0px;
}

#from-amount,
#to-amount {
  max-height: 30px;
}

#from-currency-container {
  position: relative;
  display: inline-block;
}

.currency-drop-down-btn {
  border: 4px thin black;
  cursor: pointer;
  background: none;
}

.currency-drop-down-btn:hover {
  content: "From: ";
}

.options {
  list-style-type: none;
  display: none;
  padding-inline-start: 0px;
}

.show {
  display: block;
  overflow: scroll;
  max-height: 210px;
  margin-block-start: 0px;
}

ul.options {
  border: 1px solid hotpink;
  display: none;
  list-style: none;
  padding: 4px;
  margin-top: -4px;
}

ul.show {
  display: block;
}

ul.options li:active,
ul.options li:focus,
ul.options li:hover,
ul.options li[aria-selected="true"] {
  background: pink;
  cursor: pointer;
}
